# D1 discipline fork (PREREG_D1 frozen): d1mode=4
mode=shallow
shallow_rounds=1
deep_rounds=16
adaptive_min_rounds=2
adaptive_max_rounds=16
conf_threshold=800
stability_window=2
epsilon=50
elim_margin=900
refute_threshold=600
evidence_cap=64
d1mode=4
veto_thr=400
